@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    display: flex;
    gap: 5px;
    height: 100vh;
    background-color: #fff;
    width: 100vw; 
  }
  .sidebar{
    height: 100%;
  }
  .content {
    height: 50vw;
    flex: 1; 
    padding: 0px;
    background-color: #faf8f8;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: auto; /* Enables scrolling if content overflows */
}
