.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    flex-grow: 1; 
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
  .dashboard-header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;

  }
  
  .logout-btn {
    padding: 8px 20px;
    background-color: #fff3cd;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .welcome-card {
    background-color: #f3e5d7;
    padding: 24px;
    border-radius: 12px;
    align-items: center;
  }
  
  .welcome-card h2 {
    color: #8b5e34;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    align-items: center;
  }
  
  .section-card {
    width: 100%;
    max-width: 100%; /* Ensures no overflow */
    padding: 24px;
    border-radius: 12px;
    box-sizing: border-box;
}

  .section-card {
    background-color: #e8f4ff;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
  }
  
  .section-header h2 {
    font-size: 20px;
    font-weight: 600;
  }
  
  .content-card {
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    align-items: center;
    gap:20px;
    box-shadow: #333;
  }

  .content-card p {
    color: #666;
    font-size: 24px;
  }
  .content-card button{
    height: 50px;
    display: flex;
    justify-content:space-between;
    width: 200px;
    border-radius: 50px;
    align-items: center;
    background-color: #fff3cd;
    gap: 30px;
  }
  .content-card .icon {
    width: 128px;
  }
  .content-card .photo {
    width: 200px;
  }
  .content-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }